body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: rgb(78, 5, 5);
	font-size: 62.5%;
	background-color: rgba(193, 98, 4, 0.515);
}

*,*::before,*::after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

a{
	text-decoration: none;
	font-size: 1.5em;
	color: #00CCFF;
}

a:hover{
	text-decoration:underline;
}

.container{
	max-width: 1128px;
	margin: 0 auto;
}

img, video, figure, embed{
	max-width: 62.5%;
}

header{
	width: 62.5%;
	height: 4.8em;
	margin-bottom: 3.6em;
	margin-top: 3.6em;
}

.logo{
	width: 23.4em;
	float: left;
}



nav ul{
	float: right;
}

nav li{
	font-size: 1.2em;
	margin-left: 2em;
	margin-top: 1em;
	display: inline-block;
}

nav li a{
	color: #999;
}

.banner{
	background: url('../img/eu1.jpg');
	height: 100em;
	width: 100em;
	margin-bottom: 4.8em;
	position: relative;
	margin-top: 6em;
}

.caixa{
	position: absolute;
	top: 4.8em;
	background: rgba(241, 232, 232, 0.6);
	width: 4,3%;
	padding: 24px 14px 24px 40px;
}

h1{
	font-size: 4em;
	color: rgb(90, 3, 3);
	margin-bottom: 0;
	margin-top: 0;
}

.caixa p{
	font-size: 18px;
	color: rgb(42, 2, 2);
	
}

article{
	width: 264px;
	float: left;
	margin-right: 24px;
}

article:last-child{
	margin-right: 0;
}

h2{
	font-size: 24px;
}

p{
	font-size: 16px;
	text-align: justify;
}

footer{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;

}

.footer{
	font-size: 10px;
	margin-bottom: 0;
}

@media screen and (max-width: 718px){
	
}

@media screen  and (max-width:640px){
	nav
}

@media screen and (max-width: 520px){
	article{
		width: 100%;
		margin-right: 0;
	}

	.caixa{
		padding: 1.2em 2em 1.2em 2em;
	}

	.banner{
		height: 120px;
	}
}

.clearfix:before,
.clearfix::after
{
	content:"";
}

.clearfix:after{
	clear: both;
}

.clearfix{
	*zoom:1;
}

.cv {
	background-color: rgba(15, 6, 6, 0.2);
}

.cv h1{
	color: #000000;
}